---
interface Props {
  title: string
  body: string
  href: string
}

const { href, title, body } = Astro.props
---

<a
  class="col-span-1 xl:col-span-2
        row-span-1
        [animation:linear_reveal_both]
        ![animation-range:entry_5%_cover_30%]
        ![animation-timeline:view()]
        group
        relative
        transform hover:scale-105 hover:contrast-150"
  href={href}
>
  <article
    class="border-2 border-[#208e3f] bg-[#208e3f]/20
       rounded-lg relative md:h-[250px] min-h-[150px] h-full"
  >
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </article>
</a>
