---
import Card from './Card.astro'

const DATA_FILES = [
  {
    title: 'Documentos',
    descripion: '',
    image: '/icons/documents.svg',
    class: 'col-span-10 md:col-span-4'
  },
  {
    title: 'Evidencias',
    descripion: '',
    image: '/icons/evidences.svg',
    class: 'col-span-10 md:col-span-6'
  },
  {
    title: 'Presentaciones',
    descripion: '',
    image: '/icons/presentation.svg',
    class: 'col-span-10 md:col-span-6'
  },
  {
    title: 'Infografias',
    descripion: '',
    image: '/icons/infografias.svg',
    class: 'col-span-10 md:col-span-4'
  },
  {
    title: 'Multimedia',
    descripion: '',
    image: '/icons/multimedia.svg',
    class: 'col-span-10 md:col-span-4'
  },
  {
    title: 'Centros Atención Regionales',
    descripion: '',
    image: '/icons/attentionPerson.svg',
    class: 'col-span-10 md:col-span-6'
  }
]
---

<section
  class="w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto md:p-12 lg:px-20 lg:pb-20"
>
  {
    DATA_FILES.map((files, i) => (
      <Card
        {...files}
        href={`/${files.title
          .toLowerCase()
          .replace(/\s/g, '')
          .normalize('NFD')
          .replace(/[\u0300-\u036f]/g, '')}`}
      />
    ))
  }
</section>
