---
import Card from './Card.astro'
import DocumentsIcon from './icons/Documents.svg'

const DATA_FILES = [
  {
    title: 'Documentos',
    descripion: '',
    image: '/icons/documents.svg',
    class: 'col-span-10 md:col-span-4'
  },
  {
    title: 'Evidencias',
    descripion: '',
    image: '/icons/evidences.svg',
    class: 'col-span-10 md:col-span-6'
  },
  {
    title: 'Presentaciones',
    descripion: '',
    image: '/icons/presentation.svg',
    class: 'col-span-10 md:col-span-6'
  },
  {
    title: 'Infografias',
    descripion: '',
    image: '/icons/infografias.svg',
    class: 'col-span-10 md:col-span-4'
  },
  {
    title: 'Multimedia',
    descripion: '',
    image: '/icons/multimedia.svg',
    class: 'col-span-10 md:col-span-full'
  }
]
---

<section
  class="w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:px-20 lg:pb-20"
>
  {
    DATA_FILES.map((files, i) => (
      <Card {...files} href={`/${files.title.toLowerCase()}`} />
    ))
  }
</section>
