<footer class="bottom-0 h-full w-full">
  <figure class="-z-1 p-2 w-full object-cover bg-[url('/footer-bg.webp')] h-20">
    <div class="z-[1] relative bg-slate-300 opacity-95 w-fit rounded-lg p-1">
      <!-- <span class="text-xs md:text-md"
        >Derechos reservados Secretaría del Bienestar Hidalgo 2024</span
      > -->
    </div>
  </figure>
</footer>
