---
import DarkModeButton from './DarkModeButton.tsx'
import HeaderButton from './HeaderButton.astro'
import MenuIcon from './icons/Home.astro'
import PadlockIcon from './icons/Padlock.astro'
---

<header class="py-8 px-4 mx-auto max-w-2xl lg:py-10 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2
      class="mb-4 text-3xl md:text-5xl tracking-tight font-extrabold text-white"
    >
      Secretaría del Bienestar Hidalgo 2024
    </h2>
  </div>
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <HeaderButton class="text-white" href="/"><MenuIcon /> Inicio</HeaderButton>
    <HeaderButton class="text-white" href="/blindaje">
      <PadlockIcon />
      Acciones Blindaje Electoral 2024
    </HeaderButton>
    <!-- <DarkModeButton /> -->
  </nav>
</header>
