---

---

<section class="flex w-auto h-auto justify-center items-center pb-24">
  <div class="flex w-[600px] h-[500px]">
    <img
      alt="infografias-9"
      src="/blindaje_material/infografias/infografias-9.webp"
      class="rounded-lg w-0 flex-grow object-cover opacity-80 duration-1000 transition ease-out hover:cursor-crosshair hover:w-[200px] md:hover:w-[400px] hover:opacity-100 hover:contrast-125"
    />
    <img
      alt="evidencias-1"
      src="/blindaje_material/evidencias/evidencias-1.webp"
      class="rounded-lg w-0 flex-grow object-cover opacity-80 duration-500 transition ease-out hover:cursor-crosshair hover:w-[200px] md:hover:w-[400px] hover:opacity-100 hover:contrast-125"
    />
    <img
      alt="infografias-1"
      src="/blindaje_material/infografias/infografias-1.webp"
      class="rounded-lg w-0 flex-grow object-cover opacity-80 duration-500 transition ease-out hover:cursor-crosshair hover:w-[200px] md:hover:w-[400px] hover:opacity-100 hover:contrast-125"
    />
    <img
      alt="evidencias-27"
      src="/blindaje_material/evidencias/evidencias-27.webp"
      class="rounded-lg w-0 flex-grow object-cover opacity-80 duration-500 transition ease-out hover:cursor-crosshair hover:w-[200px] md:hover:w-[400px] hover:opacity-100 hover:contrast-125"
    />
    <img
      alt="evidencias-3"
      src="/blindaje_material/evidencias/evidencias-3.webp"
      class="rounded-lg w-0 flex-grow object-cover opacity-80 duration-500 transition ease-out hover:cursor-crosshair hover:w-[200px] md:hover:w-[400px] hover:opacity-100 hover:contrast-125"
    />
  </div>
</section>

<style>
  img {
    transition: 0.5s ease;
  }
</style>
